body {
    margin: 0rem;
    background-color: #ffffff;
    overflow: hidden;
}

#fieldContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    resize: both;
    position: absolute;
    background-image: url(images/field.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#noteCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}